:root {
  --primaryColor: #ff3951;
  --secondaryColor: #ff7686;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h2 {
      position: absolute;
  top: 137px;
  left: 28px;
  width: 250px;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #252525;
  text-align: left;
}

.content img {
      position: absolute;
  top: 274px;
  left: 28px;
  width: 300px;

}


.content p {
      position: absolute;
  top: 483px;
  left: 22px;
  width: 310px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #252525;
  text-align: left;
}