:root {
  --primaryColor: #ff3951;
  --secondaryColor: #ff7686;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Welcome Screen */
.welcomeScreen {
  width: 100vw;
  height: 100vh;
  background: var(--primaryColor);
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

.welcomeScreen .blimp {
  position: relative;
}

.welcomeScreen .brandName {
  position: absolute;
  top: 170px;
  left: 20px;
  font-size: 48px;
  color: white;
}

/* Slides Container */
.slideScreens {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Each Screen */
.slideScreens .slideScreenOne,
.slideScreens .slideScreenTwo,
.slideScreens .slideScreenThree {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
}

.slideScreens .slideScreenOne {
  display: block;
}

/* Images */
.slideScreens img {
  position: absolute;
  width: 300px;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
}

/* Titles */
.slideScreens h2 {
  position: absolute;
  bottom: 140px;
  left: 20px;
  width: 300px;
  font-size: 32px;
  font-weight: 800;
  color: #252525;
  font-family: "Mulish", sans-serif;
}

/* Paragraphs */
.slideScreens p {
  position: absolute;
  bottom: 100px;
  left: 20px;
  font-size: 20px;
  color: #929292;
  font-family: "Mulish", sans-serif;
}

/* Slider Section*/
.slideScreens .slider {
  position: absolute;
  bottom: 50px;
  width: 100%;
}

/* Points */
.slideScreens .points {
  display: flex;
  gap: 4px;
  position: absolute;
  left: 20px;
  bottom: 0;
}

.slideScreens .points span {
  width: 13px;
  height: 6px;
  background: #ffb6b6;
  border-radius: 10px;
  margin-bottom: 20px;
}

.slideScreens .points span:first-child {
  background: var(--primaryColor);
}

/* Slider Arrow */
.slideScreens .arrow {
  position: absolute;
  right: 20px;
  bottom: -10px;
  font-size: 48px;
  color: var(--primaryColor);
}
