:root {
  --primaryColor: #ff3951;
  --secondaryColor: #ff7686;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
}

.content .welcome {
  width: 321px;
  height: 251px;
  position: relative;
  margin-top: 40px;
}

.content .welcome img {
  width: 100%;
  position: absolute;
  left: 40px;
  top: 5px;
}

.content .welcome h2 {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #252525;
  text-align: center;
}

.content .welcome p {
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #252525;
  text-align: center;
}

.content .registerInfo {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  width: 100%;
}

.content .registerInfo .fullName,
.content .registerInfo .email,
.content .registerInfo .phoneNumber,
.content .registerInfo .password {
  position: relative;
}

.content .registerInfo .fullName input,
.content .registerInfo .email input,
.content .registerInfo .phoneNumber input,
.content .registerInfo .password input {
  width: 275px;
  height: 50px;
  background-color: #c4c4c433;
  color: #00000080;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0 45px 0 25px;
}

.content .registerInfo .fullName i,
.content .registerInfo .email i,
.content .registerInfo .phoneNumber i,
.content .registerInfo .password i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #00000080;
}

.content .registerInfo .remember {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 9px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

.content .registerInfo .remember div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.content .registerInfo .remember p {
  color: #ff3951;
}
.content .registerInfo .remember div label span {
  color: var(--primaryColor);
}

.content .registerNext {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.content .registerNext button {
  width: 300px;
  height: 50px;
  background-color: var(--primaryColor);
  color: #fcfcfc;
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}

.content .registerNext button i {
  font-size: 15px;
}

.content .registerNext div {
  font-size: 12px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}
.content .registerNext div a {
  color: var(--primaryColor);
  font-weight: 500;
  text-decoration: none;
}
